@model Pitstop.WebApp.ViewModels.CustomerManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Customer Management - offline</h3>
<p>Unfortunately the customer management module is offline at the moment. Try again soon.</p>

