@model Pitstop.ViewModels.CustomerManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3>Customer Management</h3>
<p>Unfortunately the customer management module is offline at the moment. Try again soon.</p>

