@model Pitstop.WebApp.ViewModels.CustomerSupportOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Customer Support - offline</h3>
<p>Unfortunately the customer support module is offline at the moment. Try again soon.</p>

