@model Pitstop.WebApp.ViewModels.VehicleManagementViewModel
@{
    ViewData["Title"] = "Vehicles Overview";
}
<h3 id="PageTitle">Vehicle Management - overview</h3>

<table class="table">
    <thead>
        <tr>
            <th>License No.</th>
            <th>Brand</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "VehicleManagement", new { licenseNumber = vehicle.LicenseNumber }))'">
                <td>@vehicle.LicenseNumber</td>
                <td>@vehicle.Brand</td>
                <td>@vehicle.Type</td>
            </tr>
        }
    </tbody>
</table>
<a id="RegisterVehicleButton" asp-action="New" asp-controller="VehicleManagement" class="btn btn-default">Register vehicle</a>


