@model Pitstop.ViewModels.VehicleManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3>Vehicle Management</h3>
<p>Unfortunately the verhicle management module is offline at the moment. Try again soon.</p>

