@model Pitstop.WebApp.ViewModels.VehicleManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Vehicle Management - offline</h3>
<p>Unfortunately the verhicle management module is offline at the moment. Try again soon.</p>

