<div>
    <img src="~/images/banner.jpg" />
    <h3 id="PageTitle">About Pitstop</h3>
    <p>Version: @System.Reflection.Assembly.GetEntryAssembly().GetName().Version</p>

    <p>This is a sample application based on a Garage Management System.</p>
    <p>The goal of this sample is to demonstrate several Web-Scale Architecture concepts like: Microservices, CQRS, Event Sourcing, DDD, NoSQL.</p>
    <p>
        Features include:
        <ul>
            <li>Customer Management</li>
            <li>Vehicle management</li>
            <li>Workshop management</li>
            <li>Invoicing</li>
            <li>Notifications for customers</li>
        </ul>
    </p>
</div>