@{
    ViewData["Title"] = "PitStop Garage";
}

<div>
    <img src="~/images/banner.jpg" />
    <h3 id="PageTitle">Pitstop - Garage & auto body Management System</h3>
    <p>Black Friday car deals</p>
    <p>Version: @System.Reflection.Assembly.GetEntryAssembly().GetName().Version</p>
</div>
