@model Pitstop.WebApp.ViewModels.WorkshopManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Workshop Management - offline</h3>
<p>Unfortunately the workshop management module is offline at the moment. Try again soon.</p>

