<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="PitStop public MyGet source" value="https://www.myget.org/F/pitstop/api/v3/index.json" />
  </activePackageSource>
</configuration>